In [26]:
import pandas as pd
import numpy as np

In [28]:
data = pd.read_csv("data.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   372 non-null    object
 1   x1      372 non-null    float64
 2   y1      372 non-null    float64
 3   x2      372 non-null    float64
 4   y2      372 non-null    float64
 5   x3      372 non-null    float64
 6   y3      372 non-null    float64
 7   x4      372 non-null    float64
 8   y4      372 non-null    float64
 9   x5      372 non-null    float64
 10  y5      372 non-null    float64
 11  x6      372 non-null    float64
 12  y6      372 non-null    float64
 13  x7      372 non-null    float64
 14  y7      372 non-null    float64
 15  x8      372 non-null    float64
 16  y8      372 non-null    float64
 17  x9      372 non-null    float64
 18  y9      372 non-null    float64
 19  x10     372 non-null    float64
 20  y10     372 non-null    float64
 21  x11     372 non-null    float64
 22  y11     372 non-null    float64
 23  x12     372 non-null    float64
 24  y12     372 non-null    float64
 25  x13     372 non-null    float64
 26  y13     372 non-null    float64
 27  x14     372 non-null    float64
 28  y14     372 non-null    float64
 29  x15     372 non-null    float64
 30  y15     372 non-null    float64
 31  x16     372 non-null    float64
 32  y16     372 non-null    float64
 33  x17     372 non-null    float64
 34  y17     372 non-null    float64
 35  x18     372 non-null    float64
 36  y18     372 non-null    float64
 37  x19     372 non-null    float64
 38  y19     372 non-null    float64
 39  x20     372 non-null    float64
 40  y20     372 non-null    float64
 41  x21     372 non-null    float64
 42  y21     372 non-null    float64
dtypes: float64(42), object(1)
memory usage: 125.1+ KB

In [ ]:
X = data["Label"]
X = X.to_numpy()
X.shape

numpy.ndarray

In [35]:
y = data.drop(columns=["Label"])
y = y.to_numpy()
y = y.reshape(len(y), 21, 2)
y.shape

(372, 21, 2)